html,
body
.common-layout {
  height: 100vh;
}


.el-header {
  background-color: #00a9e7;
  color: #000000;
  line-height: 60px;
}

// .el-aside {
//   background-color: #a80e0e;
//   color: #000000;
//   text-align: center;
//   height: calc(100vh - 60px);
//   transition: width 0.30s ease-in-out; // 动画
//   max-width: 200px;
//   min-width: 64px;
// }
.el-menu-vertical {
  height: calc(100vh - 60px);
}

.logo {
  width: 113px;
  height: 60px;
  filter: grayscale(0) invert(0) sepia(1) hue-rotate(30deg) saturate(10);
}

.content {
  height: calc(100vh - 60px);
  padding: auto;
}


.isCollapse-button {
  background-color: transparent; /* 背景透明 */
  border: none;                 /* 无边框 */
  padding: 0;                   /* 去掉内边距 */
  box-shadow: none;             /* 去掉阴影 */
  display: flex;
  margin-left: auto;
}

.el-main {
  height: calc(100vh - 60px);
  padding: 15px;
}
