html,
body .common-layout {
  height: 100vh;
}

.el-header {
  background-color: #00a9e7;
  color: #000000;
  line-height: 60px;
}

.el-menu-vertical {
  height: calc(100vh - 60px);
}

.logo {
  width: 113px;
  height: 60px;
  filter: grayscale(0) invert(0) sepia(1) hue-rotate(30deg) saturate(10);
}

.content {
  height: calc(100vh - 60px);
  padding: auto;
}

.isCollapse-button {
  background-color: transparent; /* 背景透明 */
  border: none; /* 无边框 */
  padding: 0; /* 去掉内边距 */
  box-shadow: none; /* 去掉阴影 */
  display: flex;
  margin-left: auto;
}

.el-main {
  height: calc(100vh - 60px);
  padding: 15px;
}

// 设置菜单的动画
// TODO 没有效果 后续再看
el-pagination {
  transition: width 0.15s;
  -webkit-transition: width 0.15s;
  -moz-transition: width 0.15s;
  -webkit-transition: width 0.15s;
  -o-transition: width 0.15s;
}
